/* 
BS CAROUSEL
started: 15.02.24
updated: 15.02.24

More notes
* source: https://getbootstrap.com/docs/5.3/components/carousel/
* 
*/
/* ================================================== */


/* CAROUSEL1 */
.carousel{
    margin:0; 
}
/* .carousel-inner{
    background-color: yellow;
} */
/* ================================================== */


/* CAROUSEL2*/
/* autoplay */
/* ================================================== */