/* 
started: 28.01.24
updated: 28.01.24
RFX
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    transition: 400ms ease;
}

/* ======================================= */
/* NAVBAR */
nav {
    background-color: black;
    color: white;
    padding: 10px;

    position: sticky;
    top: 0;
    --max-z-index: 100;
    z-index: var(--max-z-index);
}

nav li {
    display: inline-block;
    /* padding: 10px 10px; */
    transition: 400ms ease-out;
}


nav a {
    font-weight: 100;
    color: white;
    cursor: pointer;
}
nav a:hover {
    color: yellow;
}

/* ======================================= */
/* HEADER */
header {
    min-height: 70vh;
    background-color: black;
}

header h1 {
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    width: fit-content;
    color: white;
    padding: 10px;
}

/* ======================================= */
/* MAIN */
main {
    min-height: 100vh;
    background-color: lightgray;
    color: black;
}
main h2 {
    font-weight: 100;
    font-size: 30px;
}

/* ======================================= */
/* FOOTER */
/* footer {
    /* min-height:30vh;  *
    background-color: black;
    /* color:white;  *
    /* padding: 10px; *
    /* line-height: 1.5rem; *
} */
/*
footer div {
    padding: 10px;
    width: fit-content;
}

footer ul{
    list-style:none;
}
  
footer a{
    color:white;
}  
footer a:focus,
footer a:hover{
  color:lightgrey;
}

footer #company-name{
    color:salmon;
    padding:10px;
    font-weight:100;
    font-size:15px;
  } */
/* ======================================= */