/* 
MY-CLASSES 
started: 31.01.24
updated: 15.02.24
*/

/* ======================================= */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 100;
}
/* --------------------------- */

/* button */
.btn-style1 {
    --color1: yellowgreen; 
    --bg1: black; 

    border: none;
    outline: none;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;

    color: var(--bg1);
    background-color:var(--color1);
    border:2px solid var(--color1);
    border-radius: 30px;

    transition: 400ms ease;
    cursor: pointer;
}

.btn-style1:hover,
.btn-style1:focus {
    border-color:var(--bg1);
    background-color: var(--bg1);
    color: var(--color1);
}

/* icons */
/* mainly for the footer or navbar */
.icons {
    width: 60px;
    height: 60px;
    padding: 10px;
    transition: 400ms ease;
}
.icons:hover {
    transform: scale(1.2);
}

/* ======================================= */


/* floating icon */
.floating-icon {
    width:30px;
    height:30px;

    position: sticky;
    top:50vh;
    right:8px; 
    float: right;

    /* z-index:110;  */
}
.floating-icon img{
    width:100%;
    height: 100%;
    object-fit: cover;

}
/* ============================================ */